<ul class="nav navbar-nav" role="navigation">
<?php
foreach ($this->container as $page)
{
	if (!$this->navigation()->accept($page)){
		continue;
	}
    $hasChildren = $page->hasPages();
    if (!$hasChildren){
        ?>
        <li><a href="<?php echo $page->getHref(); ?>"><?php echo $page->getLabel(); ?></a></li>
        <?php
    }
    else{
        ?>
        <li class="dropdown">
            <a  href="#" data-toggle="dropdown"><?php echo $page->getLabel(); ?> <b class="caret"></b></a>
            <ul class="dropdown-menu">
            <?php
            foreach($page->getPages() as $child)
            {
				if (!$this->navigation()->accept($child)){
					continue;
				}
                ?>
                <li><a href="<?php echo $child->getHref(); ?>"><?php echo $child->getLabel(); ?></a></li>
                <?php
            }
            ?>
            </ul>
        </li>
        <?php
    }
}
?>
</ul>