<script type="text/javascript">
    var is_xmlhttprequest = <?php echo (bool)$this->is_xmlhttprequest; ?>;
    var validateajax           = '<?php echo $this->url('todo', array(
		'action'=>'validatepostajax',
		'id' => $this->id
	)); ?>';
</script>
 
<?php echo $this->headScript()->appendFile($this->basePath() . '/js/ajaxform-up.js'); ?>
 
<?php
$title = 'Add task';
$this->headTitle($title);
?>
 
<?php
$form = $this->form;
$form->setAttribute('action', $this->url(
    'todo',
    array(
        'action' => 'showform',
		'id' => $this->id
    )
));
$form->prepare();
?>
 
<?php echo $this->form()->openTag($form); ?>
<div class="element element_title">
    <?php echo $this->formRow($form->get('title')); ?>
</div>
<div class="element element_dueDate">
    <?php echo $this->formRow($form->get('dueDate')); ?>
</div>
<div class="element element_priority">
    <?php echo $this->formRow($form->get('priority')); ?>
</div>
<div class="element element_status">
    <?php echo $this->formRow($form->get('status')); ?>
</div>
<div class="element element_submit">
    <?php echo $this->formRow($form->get('submit')); ?>
</div>
<?php echo $this->form()->closeTag(); ?>