<a id="newTask" class="btn btn-primary btn-lg" role="button" href="<?php echo $this->url('todo',
                    array('action'=>'showform')); ?>">New task</a>
<div id="Tasks">
<?php foreach ($tables as $table){ ?>
	<div class="page-header">
		<h4><?php echo $table['name']; ?></h4>
	</div>
	<div class="row">
		<?php if (empty($table['rows'])) { ?>
			There are no entries in this table.
		<?php }
		else {
		?>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>#</th>
					<?php foreach ($table['headers'] as $header) {?>
						<th><?php echo $header; ?></th>
					<?php }
					if (!empty($table['rowDropDown'])) {
						?><th></th>
					<?php } ?>
				</tr>
			</thead>
			<?php
			$r = 0;
			foreach ($table['rows'] as $row){?>
				<tr id="<?php echo $table['rowIdPrefix'] . $row['id']; ?>">
					<?php $r++; ?>
					<td><?php echo $r; ?></td>
					<?php foreach ($row as $key => $col) {?>
						<?php if ($key == 'id') {
							continue;
						}
						if (gettype($col) == 'object' && get_class($col) == \DateTime::class) {
							$col = $col->format('Y-m-d H:i');
						} ?>
						<td><?php echo $col; ?></td>
					<?php }
					if (!empty($table['rowDropDown'])) {
					?>
						<td>
						<div class="dropdown theme-dropdown clearfix">
							<a data-toggle="dropdown" class="dropdown-toggle" role="button" href="#" id="<?php echo 'DM'.$table['rowIdPrefix'] . $row['id']; ?>">Actions<span class="caret"></span>
							</a>
							<ul aria-labelledby="<?php echo 'DM'.$table['rowIdPrefix'] . $row['id']; ?>" role="menu" class="dropdown-menu">
							<?php foreach($table['rowDropDown'] as $dropDown){ ?>
								<li role="presentation"><a href="#" tabindex="-1" role="menuitem" class="<?php echo $dropDown['class']; ?>"><?php echo $dropDown['name'];?></a></li>
							<?php } ?>
							</ul>
						</div>
						</td>
					<?php } ?>
				</tr>
			<?php } ?>
		</table>
		<?php } ?>
	</div>
<?php } ?>
</div>
<div id="dialog-confirm" title="Delete task?" style="display:none">
<p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>The task will be permanently deleted and cannot be recovered. Are you sure?</p>
</div>