<div class="page-header">
		<h4>Users</h4>
</div>
<div class="row">
	<table class="table">
		<thead>
			<tr>
				<th>Name</th>
				<th>Email</th>
				<th>Role</th>
			</tr>
		</thead>
		<?php foreach ($users as $u) {?>
		<tr>
			<td><?php echo $u['displayName'] ?></td>
			<td><?php echo $u['email'] ?></td>
			<td><?php echo $u['role'] ?></td>
		</tr>
	<?php } ?>
	</table>
</div>
