<?php echo $this->doctype(); ?>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <?php echo $this->headTitle($this->translate('Tasks list app'))->setSeparator(' - ')->setAutoEscape(false) ?>

        <?php echo $this->headMeta()
            ->appendName('viewport', 'width=device-width, initial-scale=1.0')
            ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
        ?>

        <!-- Le styles -->
        <?php echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'))
			->appendStylesheet($this->basePath() . '/css/bootstrap.min.css')
			->appendStylesheet($this->basePath() . '/css/bootstrap-theme.min.css')
			->appendStylesheet($this->basePath() . '/js/jqueryUI/jquery-ui.css')
			->appendStylesheet($this->basePath() . '/css/jquery.datetimepicker.css')
			->appendStylesheet($this->basePath() . '/css/style.css'); ?>

        <!-- Scripts -->
		<script type="text/javascript">
			var delTaskUrl = '<?php echo $this->url('todo', array('action'=>'deletetask')); ?>';
			var formUrl = '<?php echo $this->url('todo', array('action'=>'showform')); ?>';
			var checkSessionUrl = '<?php echo $this->url('todo', array('action'=>'getsessiontimeout')); ?>';
			var extendSessionUrl = '<?php echo $this->url('todo', array('action'=>'extendsession')); ?>';
			var loggedInUser = <?php 
			if ($this->zfcUserIdentity()) {
				$role = $this->zfcUserIdentity()->getRoles();
				$role = $role[0];
				echo $role != 'guest' ? 'true' : 'false';
			}
			else{
				echo 'false';
			}
			?>;
		</script>
        <?php echo $this->headScript()
			->appendFile($this->basePath() . '/js/jquery-1.11.1.min.js')
			->appendFile($this->basePath() . '/js/bootstrap.min.js')
			->appendFile($this->basePath() . '/js/jqueryUI/jquery-ui.js')
			->appendFile($this->basePath() . '/js/jquery.datetimepicker.js')
			->appendFile($this->basePath() . '/js/scripts.js')	
            ->appendFile($this->basePath() . '/js/respond.min.js', 'text/javascript', array('conditional' => 'lt IE 9',))
            ->appendFile($this->basePath() . '/js/html5shiv.js',   'text/javascript', array('conditional' => 'lt IE 9',))
        ; ?>

    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="<?php echo $this->url('home') ?>"><?php echo $this->translate('Todo list') ?></a>
                </div>
                <div class="collapse navbar-collapse">
                     <?php // <-- Update this !!
    echo $this->ztbnavigation('navigation')
				->menu()
				->setPartial('partial/menu')
				->setMinDepth(0)
				->setMaxDepth(2)
				->setUlClass('nav navbar-nav')
				->render();
    ?>
                </div><!--/.nav-collapse -->
            </div>
			
        </nav>
        <div class="container">
            <?php echo $this->content; ?>
            <hr>
            <footer>
                <p><?php echo date('Y') ?> by Povilas Brilius</p>
            </footer>
        </div> <!-- /container -->
		<div id="winPopup"></div>
		<div id="sessionConfirm" title="Continue working?" style="display:none">
			<p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>Your session will expire in less than 15 minutes. Continue working?</p>
</div>
        <?php echo $this->inlineScript() ?>
    </body>
</html>
